html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Ubuntu', sans-serif;
}


/*Header*/

header{
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: space-around; 
    align-items: center;  
}

.texto-header a{
    color: #E62872; 
    font-size: 22px;
}

.icn-header{
    padding: 0px 10px 0px 0px;
    color: #E62872;
    font-size: 22px;
}

.nav-header a{
    color: black;
    font-size: 16px;
    padding: 0px 7px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.nav-header a:hover{
    color: #E62872;
}

.btn-nav {
    border: none;
    font-size: 20px;
}

.btn-nav a{
    background-color: white;
    border: 2px solid #E62872;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    color: #E62872;
}

.btn-nav a:hover{
    background-color: #E62872;
    color: white;
}

/*Hero*/
.hero{
    background-color: #F4FCFF;
    height: 70vh;
    display: flex;
    align-items: center; 
}

.contenedor-hero{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 80%;
}

.titulo-hero{
    font-size: 15px;
}

.img-hero{
    border-radius: 25px;
    width: 50%;
   
}

.texto-hero1{
    font-size: 35px;
    margin-top: 20px;
}

.texto-hero2{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
}

.btn-hero{
    border: none;
    margin-top: 50px;
}

.btn-hero a{
    background-color: #E62872;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    color: white;
}

.btn-hero a:hover{
    background-color: #7E68D4;
}

span{
    color: #E62872;
}

/*Experiencia*/
.experiencia{
    margin: 70px 0px 70px 0px;
}

.experiencia h2{
    margin-bottom: 25px;
}

.experiencia h3{
    font-size: 16px;
}

.titulo-experiencia{
    font-size: 30px;
    margin-top: 80px;
    width: 80%;
    margin: 0 auto;
}

.contenedor-experiencia{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.contenedor-experiencia h3{
    margin-top: 25px;
}

.caja1{
    border-bottom: 2px solid #E62872;
}

.caja1, .caja2, .caja3, .caja4{
    background-color: #F4FCFF;
    border-radius: 10px;
    padding: 30px;
}

.texto-experiencia{
    margin-top: 20px;
}

.caja2, .caja3, .caja4{
    margin-left: 15px;
}

.icono-experiencia{
    background-color: white;
    color: #006D68;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
}

/*Sobre Mí*/
.contenedor-sobremi{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.texto-sobremi{
    margin-left: 30px;
}

.titulo-sobremi{
    font-size: 40px;
    margin-bottom: 60px;
}

.texto-sobremi1, .texto-sobremi2{
    font-size: 20px;
    line-height: 25px;
}

.texto-sobremi1{
    margin-bottom: 20px;
}

/*Portfolio*/
.portfolio-uno{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.titulo-portfolio{
    font-size: 40px;
}

.btn-portfolio button{
    border: none;
    font-size: 15px;
}

.btn-portfolio a{
    background-color: #E62872;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    color: white;
}

.btn-portfolio a:hover{
    background-color: #7E68D4;
    color: white;
}

.icono-portfolio{
    margin-right: 10px;
}

.contenedor-portfolio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.tarjeta-1{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-portfolio{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #A58EFF;
    border-radius: 10px;
}

.img-portfolio2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #D7D0FC;
    border-radius: 10px;
}

.img-portfolio3{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #D4D5D9;
    border-radius: 10px;
}

.card{
    background-color: #FFFFFF;
    padding: 20px 10px;
}

.card-titulo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-portfolio{
    margin-bottom: 10px;
}

.enlace-portfolio{
    color: black;
    font-size: 17px;
    border-bottom: 2px solid #E62872;
    padding-bottom: 5px;
}

.flecha{
    color: #006D68;
    font-size: 20px;
}









